@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model GAP.Models.Client;


<div class="container py-5">
    <div class="row">
        <div class="col-md-10 mx-auto">
            @using (Html.BeginForm("Client", "Home", FormMethod.Post, new { @id = "frmClient", @name = "frmClient", @class = "form-horizontal" }))
            {
                <div class="form-group row">
                    <div class="col-sm-6">
                        @Html.LabelFor(m => m.Document, new { @style = "font-weight: bold" })
                        @Html.TextBoxFor(m => m.Document, new { @class = "form-control", @placeholder = "Document" })
                        @Html.ValidationMessageFor(m => m.Document, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-6">
                        @Html.LabelFor(m => m.Name, new { @style = "font-weight: bold" })
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Name" })
                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        @Html.LabelFor(m => m.Age, new { @style = "font-weight: bold" })
                        @Html.TextBoxFor(m => m.Age, new { @class = "form-control", @placeholder = "Age" })
                        @Html.ValidationMessageFor(m => m.Age, "", new { @class = "text-danger" })
                    </div>
                </div>
                <button type="submit" id="addClient" class="btn btn-success px-4 float-left">Add Client</button>
            }
        </div>
    </div>
</div>
<div class="container py-5">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <div class="form-group row">
                <div class="col-sm-6">
                    <input class="form-control mr-sm-2" type="search" placeholder="Document" id="txtSearch" aria-label="Search">
                </div>
                <div class="col-sm-6">
                    <button class="btn btn-outline-success my-2 my-sm-0" id="btnSearch" type="button">Search</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="idTable">
        <div class="col-md-10 mx-auto">
            <div class="form-group row">
                <div class="col-sm-12">
                    <table class="table table-bordered" id="Table">
                        <tr>
                            <th>Document</th>
                            <th>Name</th>
                            <th>Age</th>
                        </tr>
                    </table>
                </div>                
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {

        GetAllClient();
        $('#idTable').hide();

        $("#btnSearch").on("click", function () {
            var document = $("#txtSearch").val();
            document = Number(document);

            GetClientByDocument(document);
        });

         $("#frmClient").on("submit", function (event) {
             event.preventDefault();
             debugger;
            var validateForm = $("#frmClient").valid();
            console.log(validateForm);
            if (validateForm) {
                var client = ObjectClient();
                AddClient(client);
            }
         });



        function ObjectClient()
        {
            client = new Object();
            client.Name = $("#Name").val();
            client.Document = $("#Document").val();
            client.age = $("#Age").val();

            return client;
        }
    });

    function GetAllClient() {
        $.ajax({
            type: "GET",
            url: "/api/Client",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                $('#idTable').show();
                $.each(data, function (i, item) {
                    var rows =
                        "<tr>" +
                        "<td id='Document'>" + item.document + "</td>" +
                        "<td id='Name'>" + item.name + "</td>" +
                        "<td id='Age'>" + item.age + "</td>" +
                        "</tr>";
                    $('#Table').append(rows);
                });
            }
        });
    }

    function GetClientByDocument(document) {

        $.ajax({
            type: "GET",
            url: "/api/Client/" + document,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                $("#idTable").find("tr:gt(0)").remove();
                if (data != null) {
                    $('#idTable').show();
                    var rows =
                        "<tr>" +
                        "<td id='Document'>" + data.Document + "</td>" +
                        "<td id='Name'>" + data.Name + "</td>" +
                        "<td id='Age'>" + data.age + "</td>" +
                        "</tr>";
                    $('#Table').append(rows);
                }
            }
        });
    }

    function AddClient(client) {
        $.ajax({
            url: "/api/Client",
            type: 'POST',
            contentType: "application/json;charset=utf-8",
            data: JSON.stringify(client),
            success: function (data) {
                if (data) {
                    $("#idTable").find("tr:gt(0)").remove();
                    GetAllClient();
                    MessageConfirmation("Client Created.");
                }
                else {
                    alert("Error Creating Client.");
                }
            }
            
        });

        function MessageConfirmation(message) {
            alert(message);
        }

    }
</script>
